
body{
    margin: 0; 
    padding: 0;
    background-color: #333333;
    background-color: rgb(22, 21, 21); 
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 700px;
}


.calculator-display{
    box-sizing: border-box;
    
    display: flex; 
    justify-content: flex-end;
    padding-bottom: 2em;
    padding-right: 0.4em;

    background-color: black;
    width: 100%;

    height: 10%;
    font-size: 4em;
    color: white;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.calculator{
    width: 100%;
    height: 100%;
    max-width: 425px;
    max-height: 641px;
    min-height: 600px;
}


.calculator-numbers{
   display: grid; 
   grid-template-columns: repeat(4, 1fr);
   width: 100%;
   height: 80%;
   background: black;
   border-bottom-left-radius: 30px;
   border-bottom-right-radius: 30px;
}


.calculator-numbers div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    margin-left: 0.5em;
}


.calculator-numbers button{
    border: none; 
    font-size: 1.5em;


    width: 70px; 
    height: 70px;

    border-radius: 50%;
    background-color: #333333;
    color: white;
}

.extra-options button{
    background-color: #A5A6A5;
    color: black;
}

.zero-btn{
    grid-column: 1 / 3;
}

.zero-btn button{
    width: 100%;
    border-radius: 20px;
    padding-right: 55%;
}

.operation button{
    background-color: #FF9F0B;
}




@media screen and (max-width: 330px)
{
    .calculator-numbers button{
        width: 60px; 
        height: 60px;
    }
    .zero-btn button{
        width: 200%;

    }

    
}

@media screen and (min-width: 525px)
{
    .calculator{
        margin-top: 1em;
    }
}
